<!-- Realizar una aplicación que muestre por pantalla, mediante
    directivas de Angular, la siguiente imagen.
    Debemos ser capaces de filtrar estos datos mediante el input
    superior.
    Aparte, los datos serán guardados en un array de objetos JSON
    óptimo para dicha funcionalidad. -->


<!-- El documento HTML seria la vista -->
<!-- ng-app y ng-controller son directivas de Angular JS -->
<!DOCTYPE html>
<html lang="es" ng-app="appDemo"> <!--Modulo que se llamara nuesta aplicacion con ng-app--> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>appDemo</title>

    <link rel="stylesheet" href="main.css">
    <script src="angular.min.js"></script>
    <script src="Controlador.js"></script>
</head>

<body ng-controller="controlador as lista"> <!-- El alcance del controlador q esta en Controlador.js sera por todo el body -->

    <!-- Input superior que permitira filtrar datos -->
    <!-- ng-model crea 1 modelo de datos -->
    <div id="input-superior">
        <label>I have 10 friends. They are : </label> <input type="text" size="55" ng-model="filtrarAmigo">
    </div>

    <div id="main-container">
        <table>
            <thead>
                <tr>
                    <td><b>ID</b></td>
                    <td><b>NOMBRE</b></td>
                    <td><b>DESCRIPCION</b></td>
                </tr>
            </thead>

        <!-- ng-repeat permite iterar una colección de datos y filtrar con: | filter:filtrarAmigo -->
            <tr ng-repeat="amigos in lista.amigos | filter:filtrarAmigo" >
                <td> {{amigos.id}}</td>
                <td> {{amigos.nombre}}</td>
                <td> {{amigos.descripcion}}</td>
            </tr>
            
        </table>
    </div>
    
    
</body>
</html>