
#input-superior{
    margin: 30px auto;
    width: 600px;
}

#main-container{
    margin: 0px auto;
    width: 600px;
}

table {
    background-color: white;
    text-align: center;
    width: 100%;
}

th, td{
    padding: 10px;
}

thead{
    background-color: grey;
    color: white;
}

tr:nth-child(even){
    background-color: lightgrey;
}
